{% extends "base.html" %}
{% load humanize %}
{% block header %}
<script>
  function product_detail(id) {
    $.ajax({
      url: "/api/product/" + id,
      success: function (result) {
        $("#product-" + id).popover({
          html: true,
          content: result.name + "<br/>" + result.price
        }).popover('show');
      }
    });
  }

  function product_leave(id) {
    $("#product-" + id).popover('hide');
  }

  const do_search=()=>{
    {% comment %} console.log('xxx is ','/product/?s='+jQuery("#xxx").val()) {% endcomment %}
    window.location.href='/product/?s='+jQuery("#xxx").val();
  }
  {% comment %} $(document).ready(function () {
    jQuery('#button-addon2').click(function(){
      const searchWords=jQuery('#xxx').val();

    })
  }); {% endcomment %}
</script>
{% endblock %}
{% block contents %}
<!--추가1-->
<div class="input-group mt-2">
  
  <input type="text" id='xxx' class="form-control mr-3" placeholder="검색어^^👀" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary px-5" onclick="do_search()" type="button" id="button-addon2">검색</button>
</div>

<!--추가엔드-->
<div class="row mt-5">
  <div class="col-12">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">상품명</th>
          <th scope="col">가격</th>
          <th scope="col">등록날짜</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        {% for product in product_list %}
        <tr>
          <th scope="row">{{ product.id }}</th>
          <th><a id="product-{{ product.id }}" onmouseenter="product_detail({{ product.id }});"
              onmouseleave="product_leave({{ product.id }});" href="/product/{{ product.id }}">{{ product.name }}</a>
          </th>
          <th>{{ product.price|intcomma }} 원</th>
          <th>{{ product.register_date|date:'Y-m-d H:i' }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-5">
  {% comment %} {% if is_paginated %} {% endcomment %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% comment %} {% endif %} {% endcomment %}
</div>

{% endblock %}
